<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medicalproj.common.dao.InstanceViewMapper" >
  <resultMap id="BaseResultMap" type="com.medicalproj.common.domain.InstanceView" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="DICOM_FILE_ID" property="dicomFileId" jdbcType="INTEGER" />
    <result column="DICOM_FILE_PATH" property="dicomFilePath" jdbcType="VARCHAR" />
    <result column="JPG_FILE_ID" property="jpgFileId" jdbcType="INTEGER" />
    <result column="JPG_FILE_PATH" property="jpgFilePath" jdbcType="VARCHAR" />
    <result column="DICOM_FILE_SIZE" property="dicomFileSize" jdbcType="INTEGER" />
    <result column="UPLOAD_TIME" property="uploadTime" jdbcType="VARCHAR" />
    <result column="DICOM_MD5" property="dicomMd5" jdbcType="VARCHAR" />
    <result column="INSTANCE_NUMBER" property="instanceNumber" jdbcType="VARCHAR" />
    <result column="SERIES_ID" property="seriesId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, DICOM_FILE_ID, DICOM_FILE_PATH, JPG_FILE_ID, JPG_FILE_PATH, DICOM_FILE_SIZE, 
    UPLOAD_TIME, DICOM_MD5, INSTANCE_NUMBER, SERIES_ID, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medicalproj.common.domain.InstanceViewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vw_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.medicalproj.common.domain.InstanceViewExample" >
    delete from vw_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medicalproj.common.domain.InstanceView" >
    insert into vw_instance (ID, DICOM_FILE_ID, DICOM_FILE_PATH, 
      JPG_FILE_ID, JPG_FILE_PATH, DICOM_FILE_SIZE, 
      UPLOAD_TIME, DICOM_MD5, INSTANCE_NUMBER, 
      SERIES_ID, CREATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{dicomFileId,jdbcType=INTEGER}, #{dicomFilePath,jdbcType=VARCHAR}, 
      #{jpgFileId,jdbcType=INTEGER}, #{jpgFilePath,jdbcType=VARCHAR}, #{dicomFileSize,jdbcType=INTEGER}, 
      #{uploadTime,jdbcType=VARCHAR}, #{dicomMd5,jdbcType=VARCHAR}, #{instanceNumber,jdbcType=VARCHAR}, 
      #{seriesId,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.medicalproj.common.domain.InstanceView" >
    insert into vw_instance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dicomFileId != null" >
        DICOM_FILE_ID,
      </if>
      <if test="dicomFilePath != null" >
        DICOM_FILE_PATH,
      </if>
      <if test="jpgFileId != null" >
        JPG_FILE_ID,
      </if>
      <if test="jpgFilePath != null" >
        JPG_FILE_PATH,
      </if>
      <if test="dicomFileSize != null" >
        DICOM_FILE_SIZE,
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME,
      </if>
      <if test="dicomMd5 != null" >
        DICOM_MD5,
      </if>
      <if test="instanceNumber != null" >
        INSTANCE_NUMBER,
      </if>
      <if test="seriesId != null" >
        SERIES_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dicomFileId != null" >
        #{dicomFileId,jdbcType=INTEGER},
      </if>
      <if test="dicomFilePath != null" >
        #{dicomFilePath,jdbcType=VARCHAR},
      </if>
      <if test="jpgFileId != null" >
        #{jpgFileId,jdbcType=INTEGER},
      </if>
      <if test="jpgFilePath != null" >
        #{jpgFilePath,jdbcType=VARCHAR},
      </if>
      <if test="dicomFileSize != null" >
        #{dicomFileSize,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="dicomMd5 != null" >
        #{dicomMd5,jdbcType=VARCHAR},
      </if>
      <if test="instanceNumber != null" >
        #{instanceNumber,jdbcType=VARCHAR},
      </if>
      <if test="seriesId != null" >
        #{seriesId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medicalproj.common.domain.InstanceViewExample" resultType="java.lang.Integer" >
    select count(*) from vw_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vw_instance
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dicomFileId != null" >
        DICOM_FILE_ID = #{record.dicomFileId,jdbcType=INTEGER},
      </if>
      <if test="record.dicomFilePath != null" >
        DICOM_FILE_PATH = #{record.dicomFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.jpgFileId != null" >
        JPG_FILE_ID = #{record.jpgFileId,jdbcType=INTEGER},
      </if>
      <if test="record.jpgFilePath != null" >
        JPG_FILE_PATH = #{record.jpgFilePath,jdbcType=VARCHAR},
      </if>
      <if test="record.dicomFileSize != null" >
        DICOM_FILE_SIZE = #{record.dicomFileSize,jdbcType=INTEGER},
      </if>
      <if test="record.uploadTime != null" >
        UPLOAD_TIME = #{record.uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="record.dicomMd5 != null" >
        DICOM_MD5 = #{record.dicomMd5,jdbcType=VARCHAR},
      </if>
      <if test="record.instanceNumber != null" >
        INSTANCE_NUMBER = #{record.instanceNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.seriesId != null" >
        SERIES_ID = #{record.seriesId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vw_instance
    set ID = #{record.id,jdbcType=INTEGER},
      DICOM_FILE_ID = #{record.dicomFileId,jdbcType=INTEGER},
      DICOM_FILE_PATH = #{record.dicomFilePath,jdbcType=VARCHAR},
      JPG_FILE_ID = #{record.jpgFileId,jdbcType=INTEGER},
      JPG_FILE_PATH = #{record.jpgFilePath,jdbcType=VARCHAR},
      DICOM_FILE_SIZE = #{record.dicomFileSize,jdbcType=INTEGER},
      UPLOAD_TIME = #{record.uploadTime,jdbcType=VARCHAR},
      DICOM_MD5 = #{record.dicomMd5,jdbcType=VARCHAR},
      INSTANCE_NUMBER = #{record.instanceNumber,jdbcType=VARCHAR},
      SERIES_ID = #{record.seriesId,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select resultMap="BaseResultMap" parameterType="com.medicalproj.common.domain.InstanceViewExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vw_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>