<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medicalproj.common.dao.InstanceMapper" >
  <resultMap id="BaseResultMap" type="com.medicalproj.common.domain.Instance" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="SERIES_ID" property="seriesId" jdbcType="INTEGER" />
    <result column="INSTANCE_NUMBER" property="instanceNumber" jdbcType="VARCHAR" />
    <result column="DICOM_FILE_ID" property="dicomFileId" jdbcType="INTEGER" />
    <result column="JPG_FILE_ID" property="jpgFileId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, SERIES_ID, INSTANCE_NUMBER, DICOM_FILE_ID, JPG_FILE_ID, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medicalproj.common.domain.InstanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_instance
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_instance
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.medicalproj.common.domain.InstanceExample" >
    delete from tbl_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medicalproj.common.domain.Instance" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_instance (SERIES_ID, INSTANCE_NUMBER, DICOM_FILE_ID, 
      JPG_FILE_ID, CREATE_TIME)
    values (#{seriesId,jdbcType=INTEGER}, #{instanceNumber,jdbcType=VARCHAR}, #{dicomFileId,jdbcType=INTEGER}, 
      #{jpgFileId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.medicalproj.common.domain.Instance" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_instance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seriesId != null" >
        SERIES_ID,
      </if>
      <if test="instanceNumber != null" >
        INSTANCE_NUMBER,
      </if>
      <if test="dicomFileId != null" >
        DICOM_FILE_ID,
      </if>
      <if test="jpgFileId != null" >
        JPG_FILE_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seriesId != null" >
        #{seriesId,jdbcType=INTEGER},
      </if>
      <if test="instanceNumber != null" >
        #{instanceNumber,jdbcType=VARCHAR},
      </if>
      <if test="dicomFileId != null" >
        #{dicomFileId,jdbcType=INTEGER},
      </if>
      <if test="jpgFileId != null" >
        #{jpgFileId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medicalproj.common.domain.InstanceExample" resultType="java.lang.Integer" >
    select count(*) from tbl_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_instance
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.seriesId != null" >
        SERIES_ID = #{record.seriesId,jdbcType=INTEGER},
      </if>
      <if test="record.instanceNumber != null" >
        INSTANCE_NUMBER = #{record.instanceNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.dicomFileId != null" >
        DICOM_FILE_ID = #{record.dicomFileId,jdbcType=INTEGER},
      </if>
      <if test="record.jpgFileId != null" >
        JPG_FILE_ID = #{record.jpgFileId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_instance
    set ID = #{record.id,jdbcType=INTEGER},
      SERIES_ID = #{record.seriesId,jdbcType=INTEGER},
      INSTANCE_NUMBER = #{record.instanceNumber,jdbcType=VARCHAR},
      DICOM_FILE_ID = #{record.dicomFileId,jdbcType=INTEGER},
      JPG_FILE_ID = #{record.jpgFileId,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.medicalproj.common.domain.Instance" >
    update tbl_instance
    <set >
      <if test="seriesId != null" >
        SERIES_ID = #{seriesId,jdbcType=INTEGER},
      </if>
      <if test="instanceNumber != null" >
        INSTANCE_NUMBER = #{instanceNumber,jdbcType=VARCHAR},
      </if>
      <if test="dicomFileId != null" >
        DICOM_FILE_ID = #{dicomFileId,jdbcType=INTEGER},
      </if>
      <if test="jpgFileId != null" >
        JPG_FILE_ID = #{jpgFileId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medicalproj.common.domain.Instance" >
    update tbl_instance
    set SERIES_ID = #{seriesId,jdbcType=INTEGER},
      INSTANCE_NUMBER = #{instanceNumber,jdbcType=VARCHAR},
      DICOM_FILE_ID = #{dicomFileId,jdbcType=INTEGER},
      JPG_FILE_ID = #{jpgFileId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.medicalproj.common.domain.InstanceExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_instance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>