<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medicalproj.common.dao.StudyViewMapper" >
  <resultMap id="BaseResultMap" type="com.medicalproj.common.domain.StudyView" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="MEDICAL_CASE_ID" property="medicalCaseId" jdbcType="INTEGER" />
    <result column="STUDY_ID" property="studyId" jdbcType="VARCHAR" />
    <result column="STUDY_DATE" property="studyDate" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="DIAGNOSE_IMAGE_PERFORMANCE" property="diagnoseImagePerformance" jdbcType="VARCHAR" />
    <result column="DIAGNOSE_IMAGE_RESULT" property="diagnoseImageResult" jdbcType="VARCHAR" />
    <result column="DIAGNOSE_USER_ID" property="diagnoseUserId" jdbcType="INTEGER" />
    <result column="DIAGNOSE_USER_NAME" property="diagnoseUserName" jdbcType="VARCHAR" />
    <result column="DIAGNOSE_TIME" property="diagnoseTime" jdbcType="VARCHAR" />
    <result column="FIRST_REVIEW_IMAGE_PERFORMANCE" property="firstReviewImagePerformance" jdbcType="VARCHAR" />
    <result column="FIRST_REVIEW_IMAGE_RESULT" property="firstReviewImageResult" jdbcType="VARCHAR" />
    <result column="FIRST_REVIEW_USER_ID" property="firstReviewUserId" jdbcType="INTEGER" />
    <result column="FIRST_REVIEW_USER_NAME" property="firstReviewUserName" jdbcType="VARCHAR" />
    <result column="FIRST_REVIEW_TIME" property="firstReviewTime" jdbcType="VARCHAR" />
    <result column="FINAL_REVIEW_IMAGE_PERFORMANCE" property="finalReviewImagePerformance" jdbcType="VARCHAR" />
    <result column="FINAL_REVIEW_IMAGE_RESULT" property="finalReviewImageResult" jdbcType="VARCHAR" />
    <result column="FINAL_REVIEW_USER_ID" property="finalReviewUserId" jdbcType="INTEGER" />
    <result column="FINAL_REVIEW_USER_NAME" property="finalReviewUserName" jdbcType="VARCHAR" />
    <result column="FINAL_REVIEW_TIME" property="finalReviewTime" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="MODALITY" property="modality" jdbcType="VARCHAR" />
    <result column="BODY_PART_EXAMINED" property="bodyPartExamined" jdbcType="VARCHAR" />
    <result column="STUDY_DESCRIPTION" property="studyDescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, MEDICAL_CASE_ID, STUDY_ID, STUDY_DATE, CREATE_TIME, DIAGNOSE_IMAGE_PERFORMANCE, 
    DIAGNOSE_IMAGE_RESULT, DIAGNOSE_USER_ID, DIAGNOSE_USER_NAME, DIAGNOSE_TIME, FIRST_REVIEW_IMAGE_PERFORMANCE, 
    FIRST_REVIEW_IMAGE_RESULT, FIRST_REVIEW_USER_ID, FIRST_REVIEW_USER_NAME, FIRST_REVIEW_TIME, 
    FINAL_REVIEW_IMAGE_PERFORMANCE, FINAL_REVIEW_IMAGE_RESULT, FINAL_REVIEW_USER_ID, 
    FINAL_REVIEW_USER_NAME, FINAL_REVIEW_TIME, STATUS, MODALITY, BODY_PART_EXAMINED, 
    STUDY_DESCRIPTION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medicalproj.common.domain.StudyViewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vw_study
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.medicalproj.common.domain.StudyViewExample" >
    delete from vw_study
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medicalproj.common.domain.StudyView" >
    insert into vw_study (ID, MEDICAL_CASE_ID, STUDY_ID, 
      STUDY_DATE, CREATE_TIME, DIAGNOSE_IMAGE_PERFORMANCE, 
      DIAGNOSE_IMAGE_RESULT, DIAGNOSE_USER_ID, DIAGNOSE_USER_NAME, 
      DIAGNOSE_TIME, FIRST_REVIEW_IMAGE_PERFORMANCE, 
      FIRST_REVIEW_IMAGE_RESULT, FIRST_REVIEW_USER_ID, 
      FIRST_REVIEW_USER_NAME, FIRST_REVIEW_TIME, FINAL_REVIEW_IMAGE_PERFORMANCE, 
      FINAL_REVIEW_IMAGE_RESULT, FINAL_REVIEW_USER_ID, 
      FINAL_REVIEW_USER_NAME, FINAL_REVIEW_TIME, STATUS, 
      MODALITY, BODY_PART_EXAMINED, STUDY_DESCRIPTION
      )
    values (#{id,jdbcType=INTEGER}, #{medicalCaseId,jdbcType=INTEGER}, #{studyId,jdbcType=VARCHAR}, 
      #{studyDate,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{diagnoseImagePerformance,jdbcType=VARCHAR}, 
      #{diagnoseImageResult,jdbcType=VARCHAR}, #{diagnoseUserId,jdbcType=INTEGER}, #{diagnoseUserName,jdbcType=VARCHAR}, 
      #{diagnoseTime,jdbcType=VARCHAR}, #{firstReviewImagePerformance,jdbcType=VARCHAR}, 
      #{firstReviewImageResult,jdbcType=VARCHAR}, #{firstReviewUserId,jdbcType=INTEGER}, 
      #{firstReviewUserName,jdbcType=VARCHAR}, #{firstReviewTime,jdbcType=VARCHAR}, #{finalReviewImagePerformance,jdbcType=VARCHAR}, 
      #{finalReviewImageResult,jdbcType=VARCHAR}, #{finalReviewUserId,jdbcType=INTEGER}, 
      #{finalReviewUserName,jdbcType=VARCHAR}, #{finalReviewTime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{modality,jdbcType=VARCHAR}, #{bodyPartExamined,jdbcType=VARCHAR}, #{studyDescription,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.medicalproj.common.domain.StudyView" >
    insert into vw_study
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="medicalCaseId != null" >
        MEDICAL_CASE_ID,
      </if>
      <if test="studyId != null" >
        STUDY_ID,
      </if>
      <if test="studyDate != null" >
        STUDY_DATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="diagnoseImagePerformance != null" >
        DIAGNOSE_IMAGE_PERFORMANCE,
      </if>
      <if test="diagnoseImageResult != null" >
        DIAGNOSE_IMAGE_RESULT,
      </if>
      <if test="diagnoseUserId != null" >
        DIAGNOSE_USER_ID,
      </if>
      <if test="diagnoseUserName != null" >
        DIAGNOSE_USER_NAME,
      </if>
      <if test="diagnoseTime != null" >
        DIAGNOSE_TIME,
      </if>
      <if test="firstReviewImagePerformance != null" >
        FIRST_REVIEW_IMAGE_PERFORMANCE,
      </if>
      <if test="firstReviewImageResult != null" >
        FIRST_REVIEW_IMAGE_RESULT,
      </if>
      <if test="firstReviewUserId != null" >
        FIRST_REVIEW_USER_ID,
      </if>
      <if test="firstReviewUserName != null" >
        FIRST_REVIEW_USER_NAME,
      </if>
      <if test="firstReviewTime != null" >
        FIRST_REVIEW_TIME,
      </if>
      <if test="finalReviewImagePerformance != null" >
        FINAL_REVIEW_IMAGE_PERFORMANCE,
      </if>
      <if test="finalReviewImageResult != null" >
        FINAL_REVIEW_IMAGE_RESULT,
      </if>
      <if test="finalReviewUserId != null" >
        FINAL_REVIEW_USER_ID,
      </if>
      <if test="finalReviewUserName != null" >
        FINAL_REVIEW_USER_NAME,
      </if>
      <if test="finalReviewTime != null" >
        FINAL_REVIEW_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="modality != null" >
        MODALITY,
      </if>
      <if test="bodyPartExamined != null" >
        BODY_PART_EXAMINED,
      </if>
      <if test="studyDescription != null" >
        STUDY_DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="medicalCaseId != null" >
        #{medicalCaseId,jdbcType=INTEGER},
      </if>
      <if test="studyId != null" >
        #{studyId,jdbcType=VARCHAR},
      </if>
      <if test="studyDate != null" >
        #{studyDate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseImagePerformance != null" >
        #{diagnoseImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseImageResult != null" >
        #{diagnoseImageResult,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseUserId != null" >
        #{diagnoseUserId,jdbcType=INTEGER},
      </if>
      <if test="diagnoseUserName != null" >
        #{diagnoseUserName,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseTime != null" >
        #{diagnoseTime,jdbcType=VARCHAR},
      </if>
      <if test="firstReviewImagePerformance != null" >
        #{firstReviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="firstReviewImageResult != null" >
        #{firstReviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="firstReviewUserId != null" >
        #{firstReviewUserId,jdbcType=INTEGER},
      </if>
      <if test="firstReviewUserName != null" >
        #{firstReviewUserName,jdbcType=VARCHAR},
      </if>
      <if test="firstReviewTime != null" >
        #{firstReviewTime,jdbcType=VARCHAR},
      </if>
      <if test="finalReviewImagePerformance != null" >
        #{finalReviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="finalReviewImageResult != null" >
        #{finalReviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="finalReviewUserId != null" >
        #{finalReviewUserId,jdbcType=INTEGER},
      </if>
      <if test="finalReviewUserName != null" >
        #{finalReviewUserName,jdbcType=VARCHAR},
      </if>
      <if test="finalReviewTime != null" >
        #{finalReviewTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="modality != null" >
        #{modality,jdbcType=VARCHAR},
      </if>
      <if test="bodyPartExamined != null" >
        #{bodyPartExamined,jdbcType=VARCHAR},
      </if>
      <if test="studyDescription != null" >
        #{studyDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medicalproj.common.domain.StudyViewExample" resultType="java.lang.Integer" >
    select count(*) from vw_study
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vw_study
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.medicalCaseId != null" >
        MEDICAL_CASE_ID = #{record.medicalCaseId,jdbcType=INTEGER},
      </if>
      <if test="record.studyId != null" >
        STUDY_ID = #{record.studyId,jdbcType=VARCHAR},
      </if>
      <if test="record.studyDate != null" >
        STUDY_DATE = #{record.studyDate,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.diagnoseImagePerformance != null" >
        DIAGNOSE_IMAGE_PERFORMANCE = #{record.diagnoseImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="record.diagnoseImageResult != null" >
        DIAGNOSE_IMAGE_RESULT = #{record.diagnoseImageResult,jdbcType=VARCHAR},
      </if>
      <if test="record.diagnoseUserId != null" >
        DIAGNOSE_USER_ID = #{record.diagnoseUserId,jdbcType=INTEGER},
      </if>
      <if test="record.diagnoseUserName != null" >
        DIAGNOSE_USER_NAME = #{record.diagnoseUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.diagnoseTime != null" >
        DIAGNOSE_TIME = #{record.diagnoseTime,jdbcType=VARCHAR},
      </if>
      <if test="record.firstReviewImagePerformance != null" >
        FIRST_REVIEW_IMAGE_PERFORMANCE = #{record.firstReviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="record.firstReviewImageResult != null" >
        FIRST_REVIEW_IMAGE_RESULT = #{record.firstReviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="record.firstReviewUserId != null" >
        FIRST_REVIEW_USER_ID = #{record.firstReviewUserId,jdbcType=INTEGER},
      </if>
      <if test="record.firstReviewUserName != null" >
        FIRST_REVIEW_USER_NAME = #{record.firstReviewUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.firstReviewTime != null" >
        FIRST_REVIEW_TIME = #{record.firstReviewTime,jdbcType=VARCHAR},
      </if>
      <if test="record.finalReviewImagePerformance != null" >
        FINAL_REVIEW_IMAGE_PERFORMANCE = #{record.finalReviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="record.finalReviewImageResult != null" >
        FINAL_REVIEW_IMAGE_RESULT = #{record.finalReviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="record.finalReviewUserId != null" >
        FINAL_REVIEW_USER_ID = #{record.finalReviewUserId,jdbcType=INTEGER},
      </if>
      <if test="record.finalReviewUserName != null" >
        FINAL_REVIEW_USER_NAME = #{record.finalReviewUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.finalReviewTime != null" >
        FINAL_REVIEW_TIME = #{record.finalReviewTime,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.modality != null" >
        MODALITY = #{record.modality,jdbcType=VARCHAR},
      </if>
      <if test="record.bodyPartExamined != null" >
        BODY_PART_EXAMINED = #{record.bodyPartExamined,jdbcType=VARCHAR},
      </if>
      <if test="record.studyDescription != null" >
        STUDY_DESCRIPTION = #{record.studyDescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vw_study
    set ID = #{record.id,jdbcType=INTEGER},
      MEDICAL_CASE_ID = #{record.medicalCaseId,jdbcType=INTEGER},
      STUDY_ID = #{record.studyId,jdbcType=VARCHAR},
      STUDY_DATE = #{record.studyDate,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      DIAGNOSE_IMAGE_PERFORMANCE = #{record.diagnoseImagePerformance,jdbcType=VARCHAR},
      DIAGNOSE_IMAGE_RESULT = #{record.diagnoseImageResult,jdbcType=VARCHAR},
      DIAGNOSE_USER_ID = #{record.diagnoseUserId,jdbcType=INTEGER},
      DIAGNOSE_USER_NAME = #{record.diagnoseUserName,jdbcType=VARCHAR},
      DIAGNOSE_TIME = #{record.diagnoseTime,jdbcType=VARCHAR},
      FIRST_REVIEW_IMAGE_PERFORMANCE = #{record.firstReviewImagePerformance,jdbcType=VARCHAR},
      FIRST_REVIEW_IMAGE_RESULT = #{record.firstReviewImageResult,jdbcType=VARCHAR},
      FIRST_REVIEW_USER_ID = #{record.firstReviewUserId,jdbcType=INTEGER},
      FIRST_REVIEW_USER_NAME = #{record.firstReviewUserName,jdbcType=VARCHAR},
      FIRST_REVIEW_TIME = #{record.firstReviewTime,jdbcType=VARCHAR},
      FINAL_REVIEW_IMAGE_PERFORMANCE = #{record.finalReviewImagePerformance,jdbcType=VARCHAR},
      FINAL_REVIEW_IMAGE_RESULT = #{record.finalReviewImageResult,jdbcType=VARCHAR},
      FINAL_REVIEW_USER_ID = #{record.finalReviewUserId,jdbcType=INTEGER},
      FINAL_REVIEW_USER_NAME = #{record.finalReviewUserName,jdbcType=VARCHAR},
      FINAL_REVIEW_TIME = #{record.finalReviewTime,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      MODALITY = #{record.modality,jdbcType=VARCHAR},
      BODY_PART_EXAMINED = #{record.bodyPartExamined,jdbcType=VARCHAR},
      STUDY_DESCRIPTION = #{record.studyDescription,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select resultMap="BaseResultMap" parameterType="com.medicalproj.common.domain.StudyViewExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vw_study
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>