<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medicalproj.common.dao.StudyMapper" >
  <resultMap id="BaseResultMap" type="com.medicalproj.common.domain.Study" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="MEDICAL_CASE_ID" property="medicalCaseId" jdbcType="INTEGER" />
    <result column="STUDY_ID" property="studyId" jdbcType="VARCHAR" />
    <result column="STUDY_DATE" property="studyDate" jdbcType="DATE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="MODALITY" property="modality" jdbcType="VARCHAR" />
    <result column="BODY_PART_EXAMINED" property="bodyPartExamined" jdbcType="VARCHAR" />
    <result column="STUDY_DESCRIPTION" property="studyDescription" jdbcType="VARCHAR" />
    <result column="IS_DIAGNOSED" property="isDiagnosed" jdbcType="INTEGER" />
    <result column="DIAGNOSE_IMAGE_PERFORMANCE" property="diagnoseImagePerformance" jdbcType="VARCHAR" />
    <result column="DIAGNOSE_IMAGE_RESULT" property="diagnoseImageResult" jdbcType="VARCHAR" />
    <result column="DIAGNOSE_USER_ID" property="diagnoseUserId" jdbcType="INTEGER" />
    <result column="DIAGNOSE_TIME" property="diagnoseTime" jdbcType="TIMESTAMP" />
    <result column="IS_FIRST_REVIEWED" property="isFirstReviewed" jdbcType="INTEGER" />
    <result column="FIRST_REVIEW_IMAGE_PERFORMANCE" property="firstReviewImagePerformance" jdbcType="VARCHAR" />
    <result column="FIRST_REVIEW_IMAGE_RESULT" property="firstReviewImageResult" jdbcType="VARCHAR" />
    <result column="FIRST_REVIEW_USER_ID" property="firstReviewUserId" jdbcType="INTEGER" />
    <result column="FIRST_REVIEW_TIME" property="firstReviewTime" jdbcType="TIMESTAMP" />
    <result column="IS_FINAL_REVIEWED" property="isFinalReviewed" jdbcType="INTEGER" />
    <result column="FINAL_REVIEW_IMAGE_PERFORMANCE" property="finalReviewImagePerformance" jdbcType="VARCHAR" />
    <result column="FINAL_REVIEW_IMAGE_RESULT" property="finalReviewImageResult" jdbcType="VARCHAR" />
    <result column="FINAL_REVIEW_REMARK" property="finalReviewRemark" jdbcType="INTEGER" />
    <result column="FINAL_REVIEW_USER_ID" property="finalReviewUserId" jdbcType="INTEGER" />
    <result column="FINAL_REVIEW_TIME" property="finalReviewTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, MEDICAL_CASE_ID, STUDY_ID, STUDY_DATE, CREATE_TIME, STATUS, MODALITY, BODY_PART_EXAMINED, 
    STUDY_DESCRIPTION, IS_DIAGNOSED, DIAGNOSE_IMAGE_PERFORMANCE, DIAGNOSE_IMAGE_RESULT, 
    DIAGNOSE_USER_ID, DIAGNOSE_TIME, IS_FIRST_REVIEWED, FIRST_REVIEW_IMAGE_PERFORMANCE, 
    FIRST_REVIEW_IMAGE_RESULT, FIRST_REVIEW_USER_ID, FIRST_REVIEW_TIME, IS_FINAL_REVIEWED, 
    FINAL_REVIEW_IMAGE_PERFORMANCE, FINAL_REVIEW_IMAGE_RESULT, FINAL_REVIEW_REMARK, FINAL_REVIEW_USER_ID, 
    FINAL_REVIEW_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medicalproj.common.domain.StudyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_study
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_study
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_study
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.medicalproj.common.domain.StudyExample" >
    delete from tbl_study
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medicalproj.common.domain.Study" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_study (MEDICAL_CASE_ID, STUDY_ID, STUDY_DATE, 
      CREATE_TIME, STATUS, MODALITY, 
      BODY_PART_EXAMINED, STUDY_DESCRIPTION, IS_DIAGNOSED, 
      DIAGNOSE_IMAGE_PERFORMANCE, DIAGNOSE_IMAGE_RESULT, 
      DIAGNOSE_USER_ID, DIAGNOSE_TIME, IS_FIRST_REVIEWED, 
      FIRST_REVIEW_IMAGE_PERFORMANCE, FIRST_REVIEW_IMAGE_RESULT, 
      FIRST_REVIEW_USER_ID, FIRST_REVIEW_TIME, IS_FINAL_REVIEWED, 
      FINAL_REVIEW_IMAGE_PERFORMANCE, FINAL_REVIEW_IMAGE_RESULT, 
      FINAL_REVIEW_REMARK, FINAL_REVIEW_USER_ID, FINAL_REVIEW_TIME
      )
    values (#{medicalCaseId,jdbcType=INTEGER}, #{studyId,jdbcType=VARCHAR}, #{studyDate,jdbcType=DATE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{modality,jdbcType=VARCHAR}, 
      #{bodyPartExamined,jdbcType=VARCHAR}, #{studyDescription,jdbcType=VARCHAR}, #{isDiagnosed,jdbcType=INTEGER}, 
      #{diagnoseImagePerformance,jdbcType=VARCHAR}, #{diagnoseImageResult,jdbcType=VARCHAR}, 
      #{diagnoseUserId,jdbcType=INTEGER}, #{diagnoseTime,jdbcType=TIMESTAMP}, #{isFirstReviewed,jdbcType=INTEGER}, 
      #{firstReviewImagePerformance,jdbcType=VARCHAR}, #{firstReviewImageResult,jdbcType=VARCHAR}, 
      #{firstReviewUserId,jdbcType=INTEGER}, #{firstReviewTime,jdbcType=TIMESTAMP}, #{isFinalReviewed,jdbcType=INTEGER}, 
      #{finalReviewImagePerformance,jdbcType=VARCHAR}, #{finalReviewImageResult,jdbcType=VARCHAR}, 
      #{finalReviewRemark,jdbcType=INTEGER}, #{finalReviewUserId,jdbcType=INTEGER}, #{finalReviewTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.medicalproj.common.domain.Study" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_study
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="medicalCaseId != null" >
        MEDICAL_CASE_ID,
      </if>
      <if test="studyId != null" >
        STUDY_ID,
      </if>
      <if test="studyDate != null" >
        STUDY_DATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="modality != null" >
        MODALITY,
      </if>
      <if test="bodyPartExamined != null" >
        BODY_PART_EXAMINED,
      </if>
      <if test="studyDescription != null" >
        STUDY_DESCRIPTION,
      </if>
      <if test="isDiagnosed != null" >
        IS_DIAGNOSED,
      </if>
      <if test="diagnoseImagePerformance != null" >
        DIAGNOSE_IMAGE_PERFORMANCE,
      </if>
      <if test="diagnoseImageResult != null" >
        DIAGNOSE_IMAGE_RESULT,
      </if>
      <if test="diagnoseUserId != null" >
        DIAGNOSE_USER_ID,
      </if>
      <if test="diagnoseTime != null" >
        DIAGNOSE_TIME,
      </if>
      <if test="isFirstReviewed != null" >
        IS_FIRST_REVIEWED,
      </if>
      <if test="firstReviewImagePerformance != null" >
        FIRST_REVIEW_IMAGE_PERFORMANCE,
      </if>
      <if test="firstReviewImageResult != null" >
        FIRST_REVIEW_IMAGE_RESULT,
      </if>
      <if test="firstReviewUserId != null" >
        FIRST_REVIEW_USER_ID,
      </if>
      <if test="firstReviewTime != null" >
        FIRST_REVIEW_TIME,
      </if>
      <if test="isFinalReviewed != null" >
        IS_FINAL_REVIEWED,
      </if>
      <if test="finalReviewImagePerformance != null" >
        FINAL_REVIEW_IMAGE_PERFORMANCE,
      </if>
      <if test="finalReviewImageResult != null" >
        FINAL_REVIEW_IMAGE_RESULT,
      </if>
      <if test="finalReviewRemark != null" >
        FINAL_REVIEW_REMARK,
      </if>
      <if test="finalReviewUserId != null" >
        FINAL_REVIEW_USER_ID,
      </if>
      <if test="finalReviewTime != null" >
        FINAL_REVIEW_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="medicalCaseId != null" >
        #{medicalCaseId,jdbcType=INTEGER},
      </if>
      <if test="studyId != null" >
        #{studyId,jdbcType=VARCHAR},
      </if>
      <if test="studyDate != null" >
        #{studyDate,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="modality != null" >
        #{modality,jdbcType=VARCHAR},
      </if>
      <if test="bodyPartExamined != null" >
        #{bodyPartExamined,jdbcType=VARCHAR},
      </if>
      <if test="studyDescription != null" >
        #{studyDescription,jdbcType=VARCHAR},
      </if>
      <if test="isDiagnosed != null" >
        #{isDiagnosed,jdbcType=INTEGER},
      </if>
      <if test="diagnoseImagePerformance != null" >
        #{diagnoseImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseImageResult != null" >
        #{diagnoseImageResult,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseUserId != null" >
        #{diagnoseUserId,jdbcType=INTEGER},
      </if>
      <if test="diagnoseTime != null" >
        #{diagnoseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isFirstReviewed != null" >
        #{isFirstReviewed,jdbcType=INTEGER},
      </if>
      <if test="firstReviewImagePerformance != null" >
        #{firstReviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="firstReviewImageResult != null" >
        #{firstReviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="firstReviewUserId != null" >
        #{firstReviewUserId,jdbcType=INTEGER},
      </if>
      <if test="firstReviewTime != null" >
        #{firstReviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isFinalReviewed != null" >
        #{isFinalReviewed,jdbcType=INTEGER},
      </if>
      <if test="finalReviewImagePerformance != null" >
        #{finalReviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="finalReviewImageResult != null" >
        #{finalReviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="finalReviewRemark != null" >
        #{finalReviewRemark,jdbcType=INTEGER},
      </if>
      <if test="finalReviewUserId != null" >
        #{finalReviewUserId,jdbcType=INTEGER},
      </if>
      <if test="finalReviewTime != null" >
        #{finalReviewTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medicalproj.common.domain.StudyExample" resultType="java.lang.Integer" >
    select count(*) from tbl_study
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_study
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.medicalCaseId != null" >
        MEDICAL_CASE_ID = #{record.medicalCaseId,jdbcType=INTEGER},
      </if>
      <if test="record.studyId != null" >
        STUDY_ID = #{record.studyId,jdbcType=VARCHAR},
      </if>
      <if test="record.studyDate != null" >
        STUDY_DATE = #{record.studyDate,jdbcType=DATE},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.modality != null" >
        MODALITY = #{record.modality,jdbcType=VARCHAR},
      </if>
      <if test="record.bodyPartExamined != null" >
        BODY_PART_EXAMINED = #{record.bodyPartExamined,jdbcType=VARCHAR},
      </if>
      <if test="record.studyDescription != null" >
        STUDY_DESCRIPTION = #{record.studyDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.isDiagnosed != null" >
        IS_DIAGNOSED = #{record.isDiagnosed,jdbcType=INTEGER},
      </if>
      <if test="record.diagnoseImagePerformance != null" >
        DIAGNOSE_IMAGE_PERFORMANCE = #{record.diagnoseImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="record.diagnoseImageResult != null" >
        DIAGNOSE_IMAGE_RESULT = #{record.diagnoseImageResult,jdbcType=VARCHAR},
      </if>
      <if test="record.diagnoseUserId != null" >
        DIAGNOSE_USER_ID = #{record.diagnoseUserId,jdbcType=INTEGER},
      </if>
      <if test="record.diagnoseTime != null" >
        DIAGNOSE_TIME = #{record.diagnoseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isFirstReviewed != null" >
        IS_FIRST_REVIEWED = #{record.isFirstReviewed,jdbcType=INTEGER},
      </if>
      <if test="record.firstReviewImagePerformance != null" >
        FIRST_REVIEW_IMAGE_PERFORMANCE = #{record.firstReviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="record.firstReviewImageResult != null" >
        FIRST_REVIEW_IMAGE_RESULT = #{record.firstReviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="record.firstReviewUserId != null" >
        FIRST_REVIEW_USER_ID = #{record.firstReviewUserId,jdbcType=INTEGER},
      </if>
      <if test="record.firstReviewTime != null" >
        FIRST_REVIEW_TIME = #{record.firstReviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isFinalReviewed != null" >
        IS_FINAL_REVIEWED = #{record.isFinalReviewed,jdbcType=INTEGER},
      </if>
      <if test="record.finalReviewImagePerformance != null" >
        FINAL_REVIEW_IMAGE_PERFORMANCE = #{record.finalReviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="record.finalReviewImageResult != null" >
        FINAL_REVIEW_IMAGE_RESULT = #{record.finalReviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="record.finalReviewRemark != null" >
        FINAL_REVIEW_REMARK = #{record.finalReviewRemark,jdbcType=INTEGER},
      </if>
      <if test="record.finalReviewUserId != null" >
        FINAL_REVIEW_USER_ID = #{record.finalReviewUserId,jdbcType=INTEGER},
      </if>
      <if test="record.finalReviewTime != null" >
        FINAL_REVIEW_TIME = #{record.finalReviewTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_study
    set ID = #{record.id,jdbcType=INTEGER},
      MEDICAL_CASE_ID = #{record.medicalCaseId,jdbcType=INTEGER},
      STUDY_ID = #{record.studyId,jdbcType=VARCHAR},
      STUDY_DATE = #{record.studyDate,jdbcType=DATE},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=INTEGER},
      MODALITY = #{record.modality,jdbcType=VARCHAR},
      BODY_PART_EXAMINED = #{record.bodyPartExamined,jdbcType=VARCHAR},
      STUDY_DESCRIPTION = #{record.studyDescription,jdbcType=VARCHAR},
      IS_DIAGNOSED = #{record.isDiagnosed,jdbcType=INTEGER},
      DIAGNOSE_IMAGE_PERFORMANCE = #{record.diagnoseImagePerformance,jdbcType=VARCHAR},
      DIAGNOSE_IMAGE_RESULT = #{record.diagnoseImageResult,jdbcType=VARCHAR},
      DIAGNOSE_USER_ID = #{record.diagnoseUserId,jdbcType=INTEGER},
      DIAGNOSE_TIME = #{record.diagnoseTime,jdbcType=TIMESTAMP},
      IS_FIRST_REVIEWED = #{record.isFirstReviewed,jdbcType=INTEGER},
      FIRST_REVIEW_IMAGE_PERFORMANCE = #{record.firstReviewImagePerformance,jdbcType=VARCHAR},
      FIRST_REVIEW_IMAGE_RESULT = #{record.firstReviewImageResult,jdbcType=VARCHAR},
      FIRST_REVIEW_USER_ID = #{record.firstReviewUserId,jdbcType=INTEGER},
      FIRST_REVIEW_TIME = #{record.firstReviewTime,jdbcType=TIMESTAMP},
      IS_FINAL_REVIEWED = #{record.isFinalReviewed,jdbcType=INTEGER},
      FINAL_REVIEW_IMAGE_PERFORMANCE = #{record.finalReviewImagePerformance,jdbcType=VARCHAR},
      FINAL_REVIEW_IMAGE_RESULT = #{record.finalReviewImageResult,jdbcType=VARCHAR},
      FINAL_REVIEW_REMARK = #{record.finalReviewRemark,jdbcType=INTEGER},
      FINAL_REVIEW_USER_ID = #{record.finalReviewUserId,jdbcType=INTEGER},
      FINAL_REVIEW_TIME = #{record.finalReviewTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.medicalproj.common.domain.Study" >
    update tbl_study
    <set >
      <if test="medicalCaseId != null" >
        MEDICAL_CASE_ID = #{medicalCaseId,jdbcType=INTEGER},
      </if>
      <if test="studyId != null" >
        STUDY_ID = #{studyId,jdbcType=VARCHAR},
      </if>
      <if test="studyDate != null" >
        STUDY_DATE = #{studyDate,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="modality != null" >
        MODALITY = #{modality,jdbcType=VARCHAR},
      </if>
      <if test="bodyPartExamined != null" >
        BODY_PART_EXAMINED = #{bodyPartExamined,jdbcType=VARCHAR},
      </if>
      <if test="studyDescription != null" >
        STUDY_DESCRIPTION = #{studyDescription,jdbcType=VARCHAR},
      </if>
      <if test="isDiagnosed != null" >
        IS_DIAGNOSED = #{isDiagnosed,jdbcType=INTEGER},
      </if>
      <if test="diagnoseImagePerformance != null" >
        DIAGNOSE_IMAGE_PERFORMANCE = #{diagnoseImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseImageResult != null" >
        DIAGNOSE_IMAGE_RESULT = #{diagnoseImageResult,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseUserId != null" >
        DIAGNOSE_USER_ID = #{diagnoseUserId,jdbcType=INTEGER},
      </if>
      <if test="diagnoseTime != null" >
        DIAGNOSE_TIME = #{diagnoseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isFirstReviewed != null" >
        IS_FIRST_REVIEWED = #{isFirstReviewed,jdbcType=INTEGER},
      </if>
      <if test="firstReviewImagePerformance != null" >
        FIRST_REVIEW_IMAGE_PERFORMANCE = #{firstReviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="firstReviewImageResult != null" >
        FIRST_REVIEW_IMAGE_RESULT = #{firstReviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="firstReviewUserId != null" >
        FIRST_REVIEW_USER_ID = #{firstReviewUserId,jdbcType=INTEGER},
      </if>
      <if test="firstReviewTime != null" >
        FIRST_REVIEW_TIME = #{firstReviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isFinalReviewed != null" >
        IS_FINAL_REVIEWED = #{isFinalReviewed,jdbcType=INTEGER},
      </if>
      <if test="finalReviewImagePerformance != null" >
        FINAL_REVIEW_IMAGE_PERFORMANCE = #{finalReviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="finalReviewImageResult != null" >
        FINAL_REVIEW_IMAGE_RESULT = #{finalReviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="finalReviewRemark != null" >
        FINAL_REVIEW_REMARK = #{finalReviewRemark,jdbcType=INTEGER},
      </if>
      <if test="finalReviewUserId != null" >
        FINAL_REVIEW_USER_ID = #{finalReviewUserId,jdbcType=INTEGER},
      </if>
      <if test="finalReviewTime != null" >
        FINAL_REVIEW_TIME = #{finalReviewTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medicalproj.common.domain.Study" >
    update tbl_study
    set MEDICAL_CASE_ID = #{medicalCaseId,jdbcType=INTEGER},
      STUDY_ID = #{studyId,jdbcType=VARCHAR},
      STUDY_DATE = #{studyDate,jdbcType=DATE},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=INTEGER},
      MODALITY = #{modality,jdbcType=VARCHAR},
      BODY_PART_EXAMINED = #{bodyPartExamined,jdbcType=VARCHAR},
      STUDY_DESCRIPTION = #{studyDescription,jdbcType=VARCHAR},
      IS_DIAGNOSED = #{isDiagnosed,jdbcType=INTEGER},
      DIAGNOSE_IMAGE_PERFORMANCE = #{diagnoseImagePerformance,jdbcType=VARCHAR},
      DIAGNOSE_IMAGE_RESULT = #{diagnoseImageResult,jdbcType=VARCHAR},
      DIAGNOSE_USER_ID = #{diagnoseUserId,jdbcType=INTEGER},
      DIAGNOSE_TIME = #{diagnoseTime,jdbcType=TIMESTAMP},
      IS_FIRST_REVIEWED = #{isFirstReviewed,jdbcType=INTEGER},
      FIRST_REVIEW_IMAGE_PERFORMANCE = #{firstReviewImagePerformance,jdbcType=VARCHAR},
      FIRST_REVIEW_IMAGE_RESULT = #{firstReviewImageResult,jdbcType=VARCHAR},
      FIRST_REVIEW_USER_ID = #{firstReviewUserId,jdbcType=INTEGER},
      FIRST_REVIEW_TIME = #{firstReviewTime,jdbcType=TIMESTAMP},
      IS_FINAL_REVIEWED = #{isFinalReviewed,jdbcType=INTEGER},
      FINAL_REVIEW_IMAGE_PERFORMANCE = #{finalReviewImagePerformance,jdbcType=VARCHAR},
      FINAL_REVIEW_IMAGE_RESULT = #{finalReviewImageResult,jdbcType=VARCHAR},
      FINAL_REVIEW_REMARK = #{finalReviewRemark,jdbcType=INTEGER},
      FINAL_REVIEW_USER_ID = #{finalReviewUserId,jdbcType=INTEGER},
      FINAL_REVIEW_TIME = #{finalReviewTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.medicalproj.common.domain.StudyExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_study
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>