<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medicalproj.common.dao.TaskViewMapper" >
  <resultMap id="BaseResultMap" type="com.medicalproj.common.domain.TaskView" >
    <result column="TASK_ID" property="taskId" jdbcType="INTEGER" />
    <result column="TASK_TYPE" property="taskType" jdbcType="VARCHAR" />
    <result column="TASK_STATUS" property="taskStatus" jdbcType="VARCHAR" />
    <result column="MEDICAL_CASE_STATUS_CODE" property="medicalCaseStatusCode" jdbcType="INTEGER" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="BIGINT" />
    <result column="TASK_CREATE_TIME" property="taskCreateTime" jdbcType="VARCHAR" />
    <result column="PROCESS_TIME" property="processTime" jdbcType="VARCHAR" />
    <result column="TASK_OWNER_USER_ID" property="taskOwnerUserId" jdbcType="INTEGER" />
    <result column="TASK_OWNER_USER_NAME" property="taskOwnerUserName" jdbcType="VARCHAR" />
    <result column="TASK_OWNER_USER_EMAIL" property="taskOwnerUserEmail" jdbcType="VARCHAR" />
    <result column="TASK_OWNER_USER_MOBILE" property="taskOwnerUserMobile" jdbcType="VARCHAR" />
    <result column="PATIENT_NAME" property="patientName" jdbcType="VARCHAR" />
    <result column="MEDICAL_CASE_CREATOR_USER_ID" property="medicalCaseCreatorUserId" jdbcType="INTEGER" />
    <result column="MEDICAL_CASE_CREATOR_USER_NAME" property="medicalCaseCreatorUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TASK_ID, TASK_TYPE, TASK_STATUS, MEDICAL_CASE_STATUS_CODE, RESOURCE_ID, TASK_CREATE_TIME, 
    PROCESS_TIME, TASK_OWNER_USER_ID, TASK_OWNER_USER_NAME, TASK_OWNER_USER_EMAIL, TASK_OWNER_USER_MOBILE, 
    PATIENT_NAME, MEDICAL_CASE_CREATOR_USER_ID, MEDICAL_CASE_CREATOR_USER_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medicalproj.common.domain.TaskViewExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vw_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.medicalproj.common.domain.TaskViewExample" >
    delete from vw_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medicalproj.common.domain.TaskView" >
    insert into vw_task (TASK_ID, TASK_TYPE, TASK_STATUS, 
      MEDICAL_CASE_STATUS_CODE, RESOURCE_ID, TASK_CREATE_TIME, 
      PROCESS_TIME, TASK_OWNER_USER_ID, TASK_OWNER_USER_NAME, 
      TASK_OWNER_USER_EMAIL, TASK_OWNER_USER_MOBILE, 
      PATIENT_NAME, MEDICAL_CASE_CREATOR_USER_ID, 
      MEDICAL_CASE_CREATOR_USER_NAME)
    values (#{taskId,jdbcType=INTEGER}, #{taskType,jdbcType=VARCHAR}, #{taskStatus,jdbcType=VARCHAR}, 
      #{medicalCaseStatusCode,jdbcType=INTEGER}, #{resourceId,jdbcType=BIGINT}, #{taskCreateTime,jdbcType=VARCHAR}, 
      #{processTime,jdbcType=VARCHAR}, #{taskOwnerUserId,jdbcType=INTEGER}, #{taskOwnerUserName,jdbcType=VARCHAR}, 
      #{taskOwnerUserEmail,jdbcType=VARCHAR}, #{taskOwnerUserMobile,jdbcType=VARCHAR}, 
      #{patientName,jdbcType=VARCHAR}, #{medicalCaseCreatorUserId,jdbcType=INTEGER}, 
      #{medicalCaseCreatorUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.medicalproj.common.domain.TaskView" >
    insert into vw_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        TASK_ID,
      </if>
      <if test="taskType != null" >
        TASK_TYPE,
      </if>
      <if test="taskStatus != null" >
        TASK_STATUS,
      </if>
      <if test="medicalCaseStatusCode != null" >
        MEDICAL_CASE_STATUS_CODE,
      </if>
      <if test="resourceId != null" >
        RESOURCE_ID,
      </if>
      <if test="taskCreateTime != null" >
        TASK_CREATE_TIME,
      </if>
      <if test="processTime != null" >
        PROCESS_TIME,
      </if>
      <if test="taskOwnerUserId != null" >
        TASK_OWNER_USER_ID,
      </if>
      <if test="taskOwnerUserName != null" >
        TASK_OWNER_USER_NAME,
      </if>
      <if test="taskOwnerUserEmail != null" >
        TASK_OWNER_USER_EMAIL,
      </if>
      <if test="taskOwnerUserMobile != null" >
        TASK_OWNER_USER_MOBILE,
      </if>
      <if test="patientName != null" >
        PATIENT_NAME,
      </if>
      <if test="medicalCaseCreatorUserId != null" >
        MEDICAL_CASE_CREATOR_USER_ID,
      </if>
      <if test="medicalCaseCreatorUserName != null" >
        MEDICAL_CASE_CREATOR_USER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="taskType != null" >
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskStatus != null" >
        #{taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="medicalCaseStatusCode != null" >
        #{medicalCaseStatusCode,jdbcType=INTEGER},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="taskCreateTime != null" >
        #{taskCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="processTime != null" >
        #{processTime,jdbcType=VARCHAR},
      </if>
      <if test="taskOwnerUserId != null" >
        #{taskOwnerUserId,jdbcType=INTEGER},
      </if>
      <if test="taskOwnerUserName != null" >
        #{taskOwnerUserName,jdbcType=VARCHAR},
      </if>
      <if test="taskOwnerUserEmail != null" >
        #{taskOwnerUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="taskOwnerUserMobile != null" >
        #{taskOwnerUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null" >
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="medicalCaseCreatorUserId != null" >
        #{medicalCaseCreatorUserId,jdbcType=INTEGER},
      </if>
      <if test="medicalCaseCreatorUserName != null" >
        #{medicalCaseCreatorUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medicalproj.common.domain.TaskViewExample" resultType="java.lang.Integer" >
    select count(*) from vw_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vw_task
    <set >
      <if test="record.taskId != null" >
        TASK_ID = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.taskType != null" >
        TASK_TYPE = #{record.taskType,jdbcType=VARCHAR},
      </if>
      <if test="record.taskStatus != null" >
        TASK_STATUS = #{record.taskStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.medicalCaseStatusCode != null" >
        MEDICAL_CASE_STATUS_CODE = #{record.medicalCaseStatusCode,jdbcType=INTEGER},
      </if>
      <if test="record.resourceId != null" >
        RESOURCE_ID = #{record.resourceId,jdbcType=BIGINT},
      </if>
      <if test="record.taskCreateTime != null" >
        TASK_CREATE_TIME = #{record.taskCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.processTime != null" >
        PROCESS_TIME = #{record.processTime,jdbcType=VARCHAR},
      </if>
      <if test="record.taskOwnerUserId != null" >
        TASK_OWNER_USER_ID = #{record.taskOwnerUserId,jdbcType=INTEGER},
      </if>
      <if test="record.taskOwnerUserName != null" >
        TASK_OWNER_USER_NAME = #{record.taskOwnerUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskOwnerUserEmail != null" >
        TASK_OWNER_USER_EMAIL = #{record.taskOwnerUserEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.taskOwnerUserMobile != null" >
        TASK_OWNER_USER_MOBILE = #{record.taskOwnerUserMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.patientName != null" >
        PATIENT_NAME = #{record.patientName,jdbcType=VARCHAR},
      </if>
      <if test="record.medicalCaseCreatorUserId != null" >
        MEDICAL_CASE_CREATOR_USER_ID = #{record.medicalCaseCreatorUserId,jdbcType=INTEGER},
      </if>
      <if test="record.medicalCaseCreatorUserName != null" >
        MEDICAL_CASE_CREATOR_USER_NAME = #{record.medicalCaseCreatorUserName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vw_task
    set TASK_ID = #{record.taskId,jdbcType=INTEGER},
      TASK_TYPE = #{record.taskType,jdbcType=VARCHAR},
      TASK_STATUS = #{record.taskStatus,jdbcType=VARCHAR},
      MEDICAL_CASE_STATUS_CODE = #{record.medicalCaseStatusCode,jdbcType=INTEGER},
      RESOURCE_ID = #{record.resourceId,jdbcType=BIGINT},
      TASK_CREATE_TIME = #{record.taskCreateTime,jdbcType=VARCHAR},
      PROCESS_TIME = #{record.processTime,jdbcType=VARCHAR},
      TASK_OWNER_USER_ID = #{record.taskOwnerUserId,jdbcType=INTEGER},
      TASK_OWNER_USER_NAME = #{record.taskOwnerUserName,jdbcType=VARCHAR},
      TASK_OWNER_USER_EMAIL = #{record.taskOwnerUserEmail,jdbcType=VARCHAR},
      TASK_OWNER_USER_MOBILE = #{record.taskOwnerUserMobile,jdbcType=VARCHAR},
      PATIENT_NAME = #{record.patientName,jdbcType=VARCHAR},
      MEDICAL_CASE_CREATOR_USER_ID = #{record.medicalCaseCreatorUserId,jdbcType=INTEGER},
      MEDICAL_CASE_CREATOR_USER_NAME = #{record.medicalCaseCreatorUserName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select resultMap="BaseResultMap" parameterType="com.medicalproj.common.domain.TaskViewExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vw_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>