<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medicalproj.common.dao.StudyMapper" >
  <resultMap id="BaseResultMap" type="com.medicalproj.common.domain.Study" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="MEDICAL_CASE_ID" property="medicalCaseId" jdbcType="INTEGER" />
    <result column="STUDY_ID" property="studyId" jdbcType="VARCHAR" />
    <result column="STUDY_DATE" property="studyDate" jdbcType="DATE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="DIAGNOSE_IMAGE_PERFORMANCE" property="diagnoseImagePerformance" jdbcType="VARCHAR" />
    <result column="DIAGNOSE_IMAGE_RESULT" property="diagnoseImageResult" jdbcType="VARCHAR" />
    <result column="DIAGNOSE_USER_ID" property="diagnoseUserId" jdbcType="INTEGER" />
    <result column="DIAGNOSE_TIME" property="diagnoseTime" jdbcType="TIMESTAMP" />
    <result column="REVIEW_USER_ID" property="reviewUserId" jdbcType="INTEGER" />
    <result column="REVIEW_IMAGE_PERFORMANCE" property="reviewImagePerformance" jdbcType="VARCHAR" />
    <result column="REVIEW_IMAGE_RESULT" property="reviewImageResult" jdbcType="VARCHAR" />
    <result column="REVIEW_TIME" property="reviewTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="MODALITY" property="modality" jdbcType="VARCHAR" />
    <result column="BODY_PART_EXAMINED" property="bodyPartExamined" jdbcType="VARCHAR" />
    <result column="STUDY_DESCRIPTION" property="studyDescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, MEDICAL_CASE_ID, STUDY_ID, STUDY_DATE, CREATE_TIME, DIAGNOSE_IMAGE_PERFORMANCE, 
    DIAGNOSE_IMAGE_RESULT, DIAGNOSE_USER_ID, DIAGNOSE_TIME, REVIEW_USER_ID, REVIEW_IMAGE_PERFORMANCE, 
    REVIEW_IMAGE_RESULT, REVIEW_TIME, STATUS, MODALITY, BODY_PART_EXAMINED, STUDY_DESCRIPTION
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medicalproj.common.domain.StudyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_study
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_study
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_study
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.medicalproj.common.domain.StudyExample" >
    delete from tbl_study
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.medicalproj.common.domain.Study" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_study (MEDICAL_CASE_ID, STUDY_ID, STUDY_DATE, 
      CREATE_TIME, DIAGNOSE_IMAGE_PERFORMANCE, 
      DIAGNOSE_IMAGE_RESULT, DIAGNOSE_USER_ID, DIAGNOSE_TIME, 
      REVIEW_USER_ID, REVIEW_IMAGE_PERFORMANCE, REVIEW_IMAGE_RESULT, 
      REVIEW_TIME, STATUS, MODALITY, 
      BODY_PART_EXAMINED, STUDY_DESCRIPTION)
    values (#{medicalCaseId,jdbcType=INTEGER}, #{studyId,jdbcType=VARCHAR}, #{studyDate,jdbcType=DATE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{diagnoseImagePerformance,jdbcType=VARCHAR}, 
      #{diagnoseImageResult,jdbcType=VARCHAR}, #{diagnoseUserId,jdbcType=INTEGER}, #{diagnoseTime,jdbcType=TIMESTAMP}, 
      #{reviewUserId,jdbcType=INTEGER}, #{reviewImagePerformance,jdbcType=VARCHAR}, #{reviewImageResult,jdbcType=VARCHAR}, 
      #{reviewTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{modality,jdbcType=VARCHAR}, 
      #{bodyPartExamined,jdbcType=VARCHAR}, #{studyDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.medicalproj.common.domain.Study" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_study
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="medicalCaseId != null" >
        MEDICAL_CASE_ID,
      </if>
      <if test="studyId != null" >
        STUDY_ID,
      </if>
      <if test="studyDate != null" >
        STUDY_DATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="diagnoseImagePerformance != null" >
        DIAGNOSE_IMAGE_PERFORMANCE,
      </if>
      <if test="diagnoseImageResult != null" >
        DIAGNOSE_IMAGE_RESULT,
      </if>
      <if test="diagnoseUserId != null" >
        DIAGNOSE_USER_ID,
      </if>
      <if test="diagnoseTime != null" >
        DIAGNOSE_TIME,
      </if>
      <if test="reviewUserId != null" >
        REVIEW_USER_ID,
      </if>
      <if test="reviewImagePerformance != null" >
        REVIEW_IMAGE_PERFORMANCE,
      </if>
      <if test="reviewImageResult != null" >
        REVIEW_IMAGE_RESULT,
      </if>
      <if test="reviewTime != null" >
        REVIEW_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="modality != null" >
        MODALITY,
      </if>
      <if test="bodyPartExamined != null" >
        BODY_PART_EXAMINED,
      </if>
      <if test="studyDescription != null" >
        STUDY_DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="medicalCaseId != null" >
        #{medicalCaseId,jdbcType=INTEGER},
      </if>
      <if test="studyId != null" >
        #{studyId,jdbcType=VARCHAR},
      </if>
      <if test="studyDate != null" >
        #{studyDate,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="diagnoseImagePerformance != null" >
        #{diagnoseImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseImageResult != null" >
        #{diagnoseImageResult,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseUserId != null" >
        #{diagnoseUserId,jdbcType=INTEGER},
      </if>
      <if test="diagnoseTime != null" >
        #{diagnoseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewUserId != null" >
        #{reviewUserId,jdbcType=INTEGER},
      </if>
      <if test="reviewImagePerformance != null" >
        #{reviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="reviewImageResult != null" >
        #{reviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="reviewTime != null" >
        #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="modality != null" >
        #{modality,jdbcType=VARCHAR},
      </if>
      <if test="bodyPartExamined != null" >
        #{bodyPartExamined,jdbcType=VARCHAR},
      </if>
      <if test="studyDescription != null" >
        #{studyDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.medicalproj.common.domain.StudyExample" resultType="java.lang.Integer" >
    select count(*) from tbl_study
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_study
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.medicalCaseId != null" >
        MEDICAL_CASE_ID = #{record.medicalCaseId,jdbcType=INTEGER},
      </if>
      <if test="record.studyId != null" >
        STUDY_ID = #{record.studyId,jdbcType=VARCHAR},
      </if>
      <if test="record.studyDate != null" >
        STUDY_DATE = #{record.studyDate,jdbcType=DATE},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.diagnoseImagePerformance != null" >
        DIAGNOSE_IMAGE_PERFORMANCE = #{record.diagnoseImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="record.diagnoseImageResult != null" >
        DIAGNOSE_IMAGE_RESULT = #{record.diagnoseImageResult,jdbcType=VARCHAR},
      </if>
      <if test="record.diagnoseUserId != null" >
        DIAGNOSE_USER_ID = #{record.diagnoseUserId,jdbcType=INTEGER},
      </if>
      <if test="record.diagnoseTime != null" >
        DIAGNOSE_TIME = #{record.diagnoseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reviewUserId != null" >
        REVIEW_USER_ID = #{record.reviewUserId,jdbcType=INTEGER},
      </if>
      <if test="record.reviewImagePerformance != null" >
        REVIEW_IMAGE_PERFORMANCE = #{record.reviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewImageResult != null" >
        REVIEW_IMAGE_RESULT = #{record.reviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewTime != null" >
        REVIEW_TIME = #{record.reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.modality != null" >
        MODALITY = #{record.modality,jdbcType=VARCHAR},
      </if>
      <if test="record.bodyPartExamined != null" >
        BODY_PART_EXAMINED = #{record.bodyPartExamined,jdbcType=VARCHAR},
      </if>
      <if test="record.studyDescription != null" >
        STUDY_DESCRIPTION = #{record.studyDescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_study
    set ID = #{record.id,jdbcType=INTEGER},
      MEDICAL_CASE_ID = #{record.medicalCaseId,jdbcType=INTEGER},
      STUDY_ID = #{record.studyId,jdbcType=VARCHAR},
      STUDY_DATE = #{record.studyDate,jdbcType=DATE},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      DIAGNOSE_IMAGE_PERFORMANCE = #{record.diagnoseImagePerformance,jdbcType=VARCHAR},
      DIAGNOSE_IMAGE_RESULT = #{record.diagnoseImageResult,jdbcType=VARCHAR},
      DIAGNOSE_USER_ID = #{record.diagnoseUserId,jdbcType=INTEGER},
      DIAGNOSE_TIME = #{record.diagnoseTime,jdbcType=TIMESTAMP},
      REVIEW_USER_ID = #{record.reviewUserId,jdbcType=INTEGER},
      REVIEW_IMAGE_PERFORMANCE = #{record.reviewImagePerformance,jdbcType=VARCHAR},
      REVIEW_IMAGE_RESULT = #{record.reviewImageResult,jdbcType=VARCHAR},
      REVIEW_TIME = #{record.reviewTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=INTEGER},
      MODALITY = #{record.modality,jdbcType=VARCHAR},
      BODY_PART_EXAMINED = #{record.bodyPartExamined,jdbcType=VARCHAR},
      STUDY_DESCRIPTION = #{record.studyDescription,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.medicalproj.common.domain.Study" >
    update tbl_study
    <set >
      <if test="medicalCaseId != null" >
        MEDICAL_CASE_ID = #{medicalCaseId,jdbcType=INTEGER},
      </if>
      <if test="studyId != null" >
        STUDY_ID = #{studyId,jdbcType=VARCHAR},
      </if>
      <if test="studyDate != null" >
        STUDY_DATE = #{studyDate,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="diagnoseImagePerformance != null" >
        DIAGNOSE_IMAGE_PERFORMANCE = #{diagnoseImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseImageResult != null" >
        DIAGNOSE_IMAGE_RESULT = #{diagnoseImageResult,jdbcType=VARCHAR},
      </if>
      <if test="diagnoseUserId != null" >
        DIAGNOSE_USER_ID = #{diagnoseUserId,jdbcType=INTEGER},
      </if>
      <if test="diagnoseTime != null" >
        DIAGNOSE_TIME = #{diagnoseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewUserId != null" >
        REVIEW_USER_ID = #{reviewUserId,jdbcType=INTEGER},
      </if>
      <if test="reviewImagePerformance != null" >
        REVIEW_IMAGE_PERFORMANCE = #{reviewImagePerformance,jdbcType=VARCHAR},
      </if>
      <if test="reviewImageResult != null" >
        REVIEW_IMAGE_RESULT = #{reviewImageResult,jdbcType=VARCHAR},
      </if>
      <if test="reviewTime != null" >
        REVIEW_TIME = #{reviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="modality != null" >
        MODALITY = #{modality,jdbcType=VARCHAR},
      </if>
      <if test="bodyPartExamined != null" >
        BODY_PART_EXAMINED = #{bodyPartExamined,jdbcType=VARCHAR},
      </if>
      <if test="studyDescription != null" >
        STUDY_DESCRIPTION = #{studyDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.medicalproj.common.domain.Study" >
    update tbl_study
    set MEDICAL_CASE_ID = #{medicalCaseId,jdbcType=INTEGER},
      STUDY_ID = #{studyId,jdbcType=VARCHAR},
      STUDY_DATE = #{studyDate,jdbcType=DATE},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      DIAGNOSE_IMAGE_PERFORMANCE = #{diagnoseImagePerformance,jdbcType=VARCHAR},
      DIAGNOSE_IMAGE_RESULT = #{diagnoseImageResult,jdbcType=VARCHAR},
      DIAGNOSE_USER_ID = #{diagnoseUserId,jdbcType=INTEGER},
      DIAGNOSE_TIME = #{diagnoseTime,jdbcType=TIMESTAMP},
      REVIEW_USER_ID = #{reviewUserId,jdbcType=INTEGER},
      REVIEW_IMAGE_PERFORMANCE = #{reviewImagePerformance,jdbcType=VARCHAR},
      REVIEW_IMAGE_RESULT = #{reviewImageResult,jdbcType=VARCHAR},
      REVIEW_TIME = #{reviewTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=INTEGER},
      MODALITY = #{modality,jdbcType=VARCHAR},
      BODY_PART_EXAMINED = #{bodyPartExamined,jdbcType=VARCHAR},
      STUDY_DESCRIPTION = #{studyDescription,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.medicalproj.common.domain.StudyExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_study
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>