<div id="studyViewerTemplate" class="tab-pane active hidden" style="height:100%">

    <div class="studyContainer" style="height:100%;overflow:hidden;">
        <div class="studyRow row" style="height:100%">

            <!-- Thumbnails -->
            <div class="thumbnailSelector">
                <div class="thumbnails list-group">
                </div>
            </div>

            <!-- Viewer -->
            <div class="viewer">
                <!-- Toolbar -->
                <div class="text-center" >
                    <div class="btn-group">
                        <!-- WW/WL -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="WW/WC"><span class="fa fa-sun-o"><br>调整显示窗口</br></span></button>
                        <!-- Invert -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Invert"><span class="fa fa-adjust"><br>图像反片</br></span></button>
                        <!-- Zoom -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Zoom"><span class="fa fa-search"><br>缩放图像</br></span></button>
                        <!-- Pan -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Pan"><span class="fa fa-arrows"><br>移动图像</br></span></button>
                        <!-- Stack scroll -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Stack Scroll"><span class="fa fa-bars"><br>卷轴</br></span></button>
                        <!-- Length measurement -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Length Measurement"><span class="fa fa-arrows-v"><br>长度测量</br></span></button>
                        <!-- Angle measurement -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Angle Measurement"><span class="fa fa-angle-left"><br>角度测量</br></span></button>
                        <!-- Pixel probe -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Pixel Probe"><span class="fa fa-dot-circle-o"><br>单点数值</br></span></button>
						<!-- Cancel probe -->
						<button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="remove Measurement"><span class="fa fa-remove"><br>移除测量</br></span></button>
                        <!-- Elliptical ROI -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Elliptical ROI"><span class="fa fa-circle-o"><br>椭圆ROI</br></span></button>
                        <!-- Rectangle ROI -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Rectangle ROI"><span class="fa fa-square-o"><br>矩形ROI</br></span></button>
                        <!-- Play clip -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Play Clip"><span class="fa fa-play"><br>播放</br></span></button>
                        <!-- Stop clip -->
                        <button type="button" class="btn btn-sm btn-default" data-container='body' data-toggle="tooltip" data-placement="bottom" title="Stop Clip"><span class="fa fa-stop"><br>停止</br></span></button>
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-container='body' data-toggle="dropdown" aria-expanded="false" data-placement="top" title="Layout"><span class="fa fa-th-large"><br>视窗布局</br></span></button>
                        <ul class="pull-right dropdown-menu choose-layout" role="menu">
                            <li><a href="#">1x1</a></li>
                            <li><a href="#">2x1</a></li>
                            <li><a href="#">1x2</a></li>
                            <li><a href="#">2x2</a></li>
                        </ul>                      
                    </div>
                </div>

                <!-- Viewer -->
                <div class="imageViewer">

                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
