<div id="studyViewerTemplate" class="tab-pane active hidden" style="height:100%">

    <div class="studyContainer" style="height:100%;overflow:hidden;">
        <div class="studyRow row" style="height:100%">

            <!-- Thumbnails -->
            <div class="thumbnailSelector">
                <div class="thumbnails list-group">
                </div>
            </div>

            <!-- Viewer -->
            <div class="viewer">
                <!-- Toolbar -->
                <div class="text-center" >
				   
                       <span class="btn-group">
					   <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-container='body' data-toggle="dropdown" aria-expanded="false" data-placement="top" id="menu1" >操作<span class="caret"></span></button>
                        
						<ul class="pull-center dropdown-menu choose-process" role="menu" aria-labelledby="menu1">
						    <li><a href="#">明暗</a></li>
                            <li><a href="#">反色</a></li>
                            <li><a href="#">缩放</a></li>
                            <li><a href="#">移动</a></li>
							<li class="divider"></li>
							<li><a href="#">卷轴</a></li>
                            <li><a href="#">播放</a></li>
                            <li><a href="#">停止</a></li>
							<li class="divider"></li>
							<li><a href="#">三维重建</a></li>							
                            							
                        </ul>         
					    </span>
						<span class="btn-group">
					   <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-container='body' data-toggle="dropdown" aria-expanded="false" data-placement="top" id="menu2">测量<span class="caret"></span></button>
                     
						<ul class="pull-center dropdown-menu choose-measurement" role="menu" aria-labelledby="menu2">
						    <li><a href="#">长度</a></li>
                            <li><a href="#">角度</a></li>
                            <li><a href="#">单点</a></li>
							<li class="divider"></li>
                            <li><a href="#">椭圆</a></li>
							<li><a href="#">矩形</a></li> 
							<li class="divider"></li>
							<li><a href="#">清除</a></li>                           
                        </ul>        
						</span>	                    
                        
						<span class="btn-group">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-container='body' data-toggle="dropdown" aria-expanded="false" data-placement="top" id="menu3">布局<span class="caret"></span></button>
                        
						<ul class="pull-cneter dropdown-menu choose-layout" role="menu" aria-labelledby="menu3">
                            <li><a href="#">1x1</a></li>
                            <li><a href="#">2x1</a></li>
                            <li><a href="#">1x2</a></li>
                            <li><a href="#">2x2</a></li>
                        </ul> 
						</span>
						
                   </div> 
               

                <!-- Viewer -->
                <div class="imageViewer">

                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
